node_modules/
session/
temp/
tmp/

*.bak
*.backup*
*.backup-*
*.antes-*
*.pre-*
*.txt

DATABASE2/GRUPOS/ATIVACOES/

database/*.json

dono/*.json

ZYRON-MD-ZYRON-AI/

index.js.bak-menu
index.js.prefixo-backup-*
